.mainsect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: -25%;
}

h1, p, label, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#mainsectcanvas {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

label {
    font-family: 'Helvetica Neue', sans-serif;
}

h1 {
    margin-top: 5%;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 76px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin-bottom: 2%;
}

form,
.header {
    width: 190px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px dotted rgb(214, 20, 20);   
}

.play{
    margin-right: 10px;;
}

input,
button {
    width: 175px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    border: 2px solid rgb(214, 20, 20);
}

input[type="file"] {
    border: none;
}

button {
    background-color: rgb(214, 20, 20);
    color: white;
    box-sizing: content-box;
    margin-top: 15px;
    cursor: pointer;
}

label {
    padding: 10px;
}

.header {
    flex-direction: row;
    display: none;
}


figure h2 {
    font-size: 18px;
    font-weight: bold;
    color: purple;
    margin: 0;
}

audio {
    width: 170px;
    height: 40px;
    margin-top: 10px;
}

input:focus {
    outline: none;
    border: 3px dotted orange;
}

.description{
display: flex;
flex-direction: column;
width: 70%;
margin:auto;
justify-content: center;
align-items: flex-start;
font-size: large;
margin-bottom: 2%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.description a{
    color: rgb(214, 20, 20);
}

.description a:hover{
 color: rgb(0,204,153);
}

.upload:hover{
    border-radius: 50px;
    transition: 0.6s ease-in-out all;
    font-size: 14px;
}

.upload:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.play:hover{
   border-radius: 50px;
   transition: 0.6s ease-in-out all;
   font-size: 14px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
}

@media (max-width: 1270px) {
    .mainsect{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }

    .form {
        align-items: center;
    }

    #mainsectcanvas {
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 65px;
    }


    
}