.mainsect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: -25%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#mainsectcanvas {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin-top: 5%;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 76px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

form,
.header {
    width: 190px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px dotted rgb(214, 20, 20);   
}

.play{
    margin-right: 15px;
}

input,
button {
    width: 175px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    border: 2px solid rgb(214, 20, 20);
}

input[type="file"] {
    border: none;
}

button {
    background-color: rgb(214, 20, 20);
    color: white;
    box-sizing: content-box;
    margin-top: 15px;
    cursor: pointer;
}

label {
    padding: 10px;
}

.header {
    flex-direction: row;
    display: none;
}


figure h2 {
    font-size: 18px;
    font-weight: bold;
    color: purple;
    margin: 0;
}

audio {
    width: 170px;
    height: 40px;
    margin-top: 10px;
}

input:focus {
    outline: none;
    border: 3px dotted orange;
}

.description{
display: flex;
flex-direction: column;
width: 70%;
margin:auto;
justify-content: center;
align-items: flex-start;
font-size: medium;
}

.description a{
    color: rgb(214, 20, 20);
}

